aclocal.m4
autom4te.cache
autoscan.log
config.h
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
stamp-h1
*.o
src/sasteroids
src/Makefile
src/.deps/*
missing
*.swp
.cproject
.project
.settings
out
build
.vs

